<div class="center-fit" ng-blur><!--  *ngIf="visible" [@myAnimation]> -->

    <ngx-image-zoom
        [thumbImage]="url"
        [fullImage]="fullImageUrl"
        [zoomMode]="'click'"        
        [enableLens]="true"
        [lensWidth]="400"
        [lensHeight]="400"
        [enableScrollZoom]="true"
        [magnification]="1"
        class="center-fit"
    ></ngx-image-zoom>

    <!-- <ngx-image-zoom
        [thumbImage]="url"
        [fullImage]="allowZoom ? fullUrl : ''"
        [zoomMode]="allowZoom ? 'click' : ''"
        (click)="allowZoom = !allowZoom"
        [enableLens]="true"
        [lensWidth]="400"
        [lensHeight]="400"
        [enableScrollZoom]="true"
        [magnification]="1"
    ></ngx-image-zoom> -->

    <!-- <img 
        [allowZoom]="allowZoom"
        [src]="url" 
        [imageZoom]="allowZoom ? fullUrl : ''"
        lensStyle="LENS" 
        class="center-fit"         
        delay="1"
        minZoomLevel=".2"
        maxZoomLevel="1.5"
        (click)="allowZoom = !allowZoom"
    > -->
</div>