.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .app-toolbar {
    height: 48px;
  }

  .app-is-mobile .app-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.app-name {
    margin-left: 8px;
  }
  
  .app-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .app-side-nav {
    padding: 10px;
  }

  .app-is-mobile .app-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  

  .app-button-spacer {
    padding: 0 10px;
  }
  
  .app-spacer {
    flex: 1 1 auto;
  }
  
  .app-sidenav-content {
    margin: 0;
    padding: 0;
   }
 
   
.app-folder-field {
  width: 360px
}

.app-icon {
  padding: 0 0 0 20px;
}
.app-icon-button {
  padding: 0 3px;
  min-width: 0;
  /* width: 24px; */
  line-height: 20px;
  border-radius: 50%;
}

.app-icon-rate-button {
  padding: 0 3px;
  min-width: 0;
  line-height: 20px;
  border-radius: 50%;
  
  color: lightslategray;  
  background-color: transparent;
}

.app-icon-rated-button {
  color: gold;  
}

.app-icon-arrow {
  padding: 0 3px;
}

.app-settings-button{
	position: absolute;
  right: 30px;
  top: 15px;
}

.app-cat-icon {
	position: absolute;
  right: 30px;
  bottom: 60px;
  padding: 10px 10px;
}
.app-rate-buttons{
	position: absolute;
  right: 30px;
  bottom: 15px;
}

.app-nav-buttons{
	position: absolute;
  left: 30px;
  bottom: 15px;
}

.app-message {
  display: block;
  text-align: center;
  color: lightslategray;  
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
 }
