<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  
  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                       [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
      
        <mat-form-field class="app-folder-field">
            <input matInput #folderPath placeholder="Folder" [(ngModel)]="workFolder">
        </mat-form-field>
        <div>
            <mat-radio-group [(ngModel)]="isRating">
                <mat-radio-button [value]="true">Rate</mat-radio-button>&nbsp;&nbsp;&nbsp;
                <mat-radio-button [value]="false">Categorize</mat-radio-button>
            </mat-radio-group>
        </div>
        
        <div>
            <button mat-icon-button (click)="setCatFilter('nature')" 
                    [ngClass]="{'app-icon-rated-button': filterCat == 'nature' }" 
                    class="app-icon-button"><mat-icon>nature</mat-icon>
            </button>
            <button mat-icon-button (click)="setCatFilter('people')" 
                    [ngClass]="{'app-icon-rated-button': filterCat == 'people' }" 
                    class="app-icon-button"><mat-icon>people</mat-icon>
            </button>
            <button mat-icon-button (click)="setCatFilter('city')" 
                    [ngClass]="{'app-icon-rated-button': filterCat == 'city' }" 
                    class="app-icon-button"><mat-icon>location_city</mat-icon>
            </button>
            <button mat-icon-button (click)="setCatFilter('other')" 
                    [ngClass]="{'app-icon-rated-button': filterCat == 'other' }" 
                    class="app-icon-button"><mat-icon>category</mat-icon>
            </button>
        </div>

        <div>
            <button mat-icon-button (click)="setRateFilter(1)" [ngClass]="{'app-icon-rated-button': filterRating >= 1 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
            <button mat-icon-button (click)="setRateFilter(2)" [ngClass]="{'app-icon-rated-button': filterRating >= 2 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
            <button mat-icon-button (click)="setRateFilter(3)" [ngClass]="{'app-icon-rated-button': filterRating >= 3 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
            <button mat-icon-button (click)="setRateFilter(4)" [ngClass]="{'app-icon-rated-button': filterRating >= 4 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
            <button mat-icon-button (click)="setRateFilter(5)" [ngClass]="{'app-icon-rated-button': filterRating >= 5 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
        </div>
        
        <button mat-raised-button (click)="setRateFilter(-1); setCatFilter('')">Clear</button>
        <span class="app-button-spacer"></span>
        <button mat-raised-button (click)="displayFotos()" color="primary">Display</button>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-fab color="primary" (click)="snav.toggle()" class="app-settings-button">
            <mat-icon>menu</mat-icon>
        </button>
        
        <span *ngIf="getCurrentFotoInfo(); let fi" > 
            <div  class="app-rate-buttons" *ngIf="!isRating">
                <button mat-icon-button (click)="categorize('nature')" [ngClass]="{'app-icon-rated-button': fi.cat == 'nature' }" class="app-icon-rate-button"><mat-icon>nature</mat-icon></button>                
                <button mat-icon-button (click)="categorize('people')" [ngClass]="{'app-icon-rated-button': fi.cat == 'people' }"class="app-icon-rate-button"><mat-icon>people</mat-icon></button>
                <button mat-icon-button (click)="categorize('city')"   [ngClass]="{'app-icon-rated-button': fi.cat == 'city' }"class="app-icon-rate-button"><mat-icon>location_city</mat-icon></button>
                <button mat-icon-button (click)="categorize('other')"  [ngClass]="{'app-icon-rated-button': fi.cat == 'other' }"class="app-icon-rate-button"><mat-icon>category</mat-icon></button>
            </div>

            <div class="app-cat-icon"  *ngIf="isRating">
                <mat-icon color="accent" *ngIf="fi.cat == 'nature'">nature</mat-icon>
                <mat-icon color="accent" *ngIf="fi.cat == 'people'">people</mat-icon>
                <mat-icon color="accent" *ngIf="fi.cat == 'city'">location_city</mat-icon>
                <mat-icon color="accent" *ngIf="fi.cat == 'other'">category</mat-icon>
            </div>

            <div class="app-rate-buttons" *ngIf="isRating">
                <button mat-icon-button (click)="rate(1)" [ngClass]="{'app-icon-rated-button': fi.rating >= 1 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                <button mat-icon-button (click)="rate(2)" [ngClass]="{'app-icon-rated-button': fi.rating >= 2 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                <button mat-icon-button (click)="rate(3)" [ngClass]="{'app-icon-rated-button': fi.rating >= 3 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                <button mat-icon-button (click)="rate(4)" [ngClass]="{'app-icon-rated-button': fi.rating >= 4 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                <button mat-icon-button (click)="rate(5)" [ngClass]="{'app-icon-rated-button': fi.rating >= 5 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
            </div>
            
          <div class="app-nav-buttons">
              <button mat-icon-button color="primary" (click)="back()" class="app-icon-button"><mat-icon>arrow_back</mat-icon></button>    
              <span>{{currentIndex + 1}} of {{allFotoInfos.length}}</span>
              <button mat-icon-button color="primary" (click)="forward()" class="app-icon-button"><mat-icon>arrow_forward</mat-icon></button>    
              <span class="app-button-spacer"></span>
              <!-- <button mat-icon-button color="primary" (click)="delete()" class="app-icon-button"><mat-icon>delete</mat-icon></button>       -->
          </div>

         <image-view id="myImage" [fotoURL]="getCurrentFotoURL()"> </image-view>
            
        </span>
        
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
