<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  
  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                       [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')"
                       class="app-side-nav">
      
        <mat-card>
            <mat-card-header>
                <mat-card-title>Location</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="app-folder-field">
                    <input matInput #folderPath placeholder="Folder" [(ngModel)]="workFolder">
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        &nbsp;
        <mat-card>
            <mat-card-header>
                <mat-card-title>Filter</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <button *ngFor="let cat of cats" mat-icon-button (click)="setCatFilter(cat.name)" 
                            [ngClass]="{'app-icon-rated-button': filterCat == cat.name }" 
                            matTooltip = "{{cat.name}} , shortcut: {{getKeyCode(cat.key)}}"  
                            class="app-icon-rate-button"><mat-icon>{{cat.icon}}</mat-icon>
                    </button>
                </div>
        
                <div *ngIf="!unratedOnly">
                    <button mat-icon-button (click)="setRateFilter(1)" [ngClass]="{'app-icon-rated-button': filterRating >= 1 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                    <button mat-icon-button (click)="setRateFilter(2)" [ngClass]="{'app-icon-rated-button': filterRating >= 2 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                    <button mat-icon-button (click)="setRateFilter(3)" [ngClass]="{'app-icon-rated-button': filterRating >= 3 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                    <button mat-icon-button (click)="setRateFilter(4)" [ngClass]="{'app-icon-rated-button': filterRating >= 4 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                    <button mat-icon-button (click)="setRateFilter(5)" [ngClass]="{'app-icon-rated-button': filterRating >= 5 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                    <mat-checkbox [(ngModel)]="includeHigherRating">Include higher rating</mat-checkbox>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="setRateFilter(-1); setCatFilter('')">Clear Filter</button>
                &nbsp;<mat-checkbox [(ngModel)]="unratedOnly">Unrated only</mat-checkbox>
            </mat-card-actions>
        </mat-card>
        &nbsp;
        <mat-card>
           <mat-card-header>
                <mat-card-title>What to do</mat-card-title>
            </mat-card-header>
                    
            <mat-card-content>
                <mat-radio-group [(ngModel)]="isRating">
                    <mat-radio-button [value]="true">Rate</mat-radio-button>&nbsp;&nbsp;&nbsp;
                    <mat-radio-button [value]="false">Categorize</mat-radio-button>
                </mat-radio-group>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button (click)="displayFotos()" color="primary" [disabled]="!workFolder">Display</button>                
                <button mat-raised-button (click)="arrangeFotos()" color="accent" [disabled]="!workFolder">Arrange</button>
                <button mat-raised-button (click)="opened=false">Cancel</button>
            </mat-card-actions>
        </mat-card>

    </mat-sidenav>

    <mat-sidenav-content class="app-content">
        <button mat-fab color="primary" (click)="snav.toggle()" class="app-settings-button">
            <mat-icon>menu</mat-icon>
        </button>
        <span  class="app-message">
            <span *ngIf="currentMessage">                
                <h1><div [innerHTML]="currentMessage"></div></h1>
            </span>
            <span *ngIf="isBusy">
                <mat-spinner></mat-spinner>
            </span>
        </span>        
        <span *ngIf="getCurrentFotoInfo(); let fi"> 
            <div  class="app-rate-buttons" *ngIf="!isRating">
                <button *ngFor="let cat of cats" 
                        mat-icon-button 
                        (click)="categorize(cat.name)" 
                        [ngClass]="{'app-icon-rated-button': fi.cat == cat.name }"
                        matTooltip = "{{cat.name}} , shortcut: {{getKeyCode(cat.key)}}"  
                        class="app-icon-rate-button"><mat-icon>{{cat.icon}}</mat-icon>
                    </button>                
            </div>

            <div class="app-cat-icon"  *ngIf="isRating">
                <span *ngFor="let cat of cats">
                        <mat-icon  color="accent"
                         *ngIf="fi.cat == cat.name"
                         matTooltip = "{{cat.name}} , shortcut: {{getKeyCode(cat.key)}}">{{cat.icon}}</mat-icon>
                </span>
            </div>

            <div class="app-rate-buttons" *ngIf="isRating">
                <button mat-icon-button (click)="rate(1)" [ngClass]="{'app-icon-rated-button': fi.rating >= 1 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                <button mat-icon-button (click)="rate(2)" [ngClass]="{'app-icon-rated-button': fi.rating >= 2 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                <button mat-icon-button (click)="rate(3)" [ngClass]="{'app-icon-rated-button': fi.rating >= 3 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                <button mat-icon-button (click)="rate(4)" [ngClass]="{'app-icon-rated-button': fi.rating >= 4 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
                <button mat-icon-button (click)="rate(5)" [ngClass]="{'app-icon-rated-button': fi.rating >= 5 }" class="app-icon-rate-button"><mat-icon>star</mat-icon></button>
            </div>
            
          <div class="app-nav-buttons">
            <mat-chip-list class="app-image-info">
                <mat-chip color="primary" selected>{{fi.name}}</mat-chip>
            </mat-chip-list>
            <mat-paginator [length]="allFotoInfos.length" [hidePageSize]='true'
                [pageSize]="1" [pageIndex]="currentIndex"
                (page)="setCurrentIndex($event.pageIndex)">
            </mat-paginator>
            </div>

         <image-view id="myImage" [url]="getCurrentFotoURL()" [fullUrl]="getCurrentFotoFullURL()"> </image-view>
            
        </span>
        
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
